*.exe
강사용/.ipynb_checkpoints
학습자용/.ipynb_checkpoints
outputs/*.xlsx
outputs/files/*.pdf
outputs/files/*.hwp
outputs/images/naver/*.jpg
outputs/images/naver/*.jpeg
outputs/images/naver/*.png
outputs/images/naver/*.gif
outputs/images/unsplash/*.jpg
outputs/images/unsplash/*.jpeg
outputs/images/unsplash/*.png
outputs/images/unsplash/*.gif